<%= search_form_for(@q) do |f| %>
  <%= f.label(:shop_id_eq, "Filter by Shop") %>
  <%= f.collection_select(
    :shop_id_eq,
    shops,
    :id,
    :name,
    { include_blank: true },
    { class: "", onchange: "this.form.submit()" }
  ) %>
<% end %>

<div class="product-results">
  <ul>
    <% products.each do |product| %>
      <li><%= "#{product.title} - #{product.shop_id}" %></li>
    <% end %>
  </ul>
</div>

<small>
  show <%= products.count %> of <%= pagy.count %> products
</small>

<div>
  Pages: <%== pagy_nav(pagy) %>
</div>
