<div class="flex flex-row-reverse">
  <%= search_form_for(@q) do |f| %>
    <div class="justify-between">
      <%= f.label(:shop_id_eq, "Filter by Shop", class: 'mb-2 text-sm font-medium text-gray-400') %>
      <%= f.collection_select(
        :shop_id_eq,
        shops,
        :id,
        :name,
        { include_blank: true },
        {
          class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm focus:ring-blue-500 focus:border-blue-500 w-max p-2.5",
          onchange: "this.form.submit()"
        }
      ) %>
    </div>
  <% end %>
</div>

<div class="px-5">
  <ul>
    <% products.each do |product| %>
      <li>
        <%= render product, locals: { product: product } %>
      </li>
    <% end %>
  </ul>
</div>

<div class="grid grid-cols-2">
  <div class="text-sm">
    <%= pagy_info(pagy).html_safe %>
  </div>

  <div class="items-center">
    <%= pagy_nav(pagy).html_safe %>
  </div>
</div>
